services:
  fastsurfer:
    image: deepmi/fastsurfer:latest
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - ../demo_data:/data
      - ./output:/output
      - ./fs_license:/fs_license
    command: [
      "--fs_license", "/fs_license/license.txt", # provide your own license
      "--t1", "/data/downsampled_data_float32_rotated_crop.nii.gz",
      "--sid", "494um_EBB",
      "--sd", "/output",
      "--parallel",
      "--3T"
    ]
    user: "1000:1000" # edit with your own
    restart: "no"
